body {
    margin: 0;
}

.container {
    width : 100vw;
    height : 100vh;
    display: grid;
    grid-template-rows : 20vh 80vh;
    grid-template-areas:
    "header"
    "main"
    ;
}

.header {
    padding : 3vh;
    text-align: center;
}

.contents {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow : 0 0 10px rgba(0, 0, 0, 0.1);
    display : inline-block;
}

.main {
    padding : 3vh;
    text-align : center;
    padding-top : 10vh;
}

input, button {
    margin : 10px;
    padding : 10px;
    font-size : 16px;
}

#timer-display {
    font-size : clamp(40px, 13vw, 160px);
    font-weight: bold;
    color : black;
}
